@mixin list-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin pseudo($width, $height, $bgColor: #000000) {
  content: "";
  display: block;
  width: $width;
  height: $height;
  background-color: $bgColor;
  position: absolute;
}

@mixin container() {
  width: 100%;
  padding: 20px;
  margin: 0 auto;

  //   TODO дописать миксин для остальных разрешений
  @media ($mobile-only) {
    // только для мобильного
    // background: #000;
  }

  @media ($min-tablet) {
    // от планшета и выше
  }

  @media ($min-tablet) and ($max-tablet) {
    // только для планшета
  }

  @media ($min-desktop) {
    // для десктопа и выше
    width: 1220px;
  }
}
