/* здесь используйте глобальные переменные */
// Шрифты
$lato: "lato", "Arial", sans-serif;
$oswald: "oswald", "Arial", sans-serif;

// Цвета
$main-text-color: #444444;
$gray: #f2f2f2;

// Медиавыражения
// TODO написать переменные для медиа выражений
$mobile-only: "max-width: 767px";
$min-tablet: "min-width: 768px";
$max-tablet: "max-width: 1279px";
$min-desktop: "min-width: 1280px";
