.food-types {
  @include container();
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;

  &__title {
    font-family: "oswald", "Arial", sans-serif;
    width: 100%;
    font-weight: 400;
    padding-left: 91px;
    line-height: 37px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 36px;

    @media ($min-desktop) {
      line-height: 36px;
      font-size: 36px;
      margin-bottom: 70px;
    }

    @media ($min-tablet) {
      font-size: 36px;
      line-height: 36px;
      text-align: left;
      padding-left: 0;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 18px;
    position: relative;
    padding-bottom: 23px;
    margin-bottom: 15px;

    @media ($min-tablet) {
      font-size: 16px;
      line-height: 24px;
    }

    &::after {
      @include pseudo(100%, 1px, #d9d9d9);
      bottom: 0;
    }
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    color: black;
    padding-right: 50px;

    &::after {
      content: url(../../images/arrow.svg);
      min-width: 32px;
      height: 10px;
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__card {
    position: relative;
    flex-grow: 0;
    background-color: #f2f2f2;
    padding: 30px 20px 20px;

    @media ($min-desktop) {
      width: 570px;
      min-height: 374px;
    }

    // @media ($min-tablet) {

    // }

    &:before,
    &:after {
      top: 30px;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:before {
      @include pseudo(50px, 50px, #68b738);
      border-radius: 50%;
    }

    &:after {
      @include pseudo(36px, 50px, transparent);
      background-size: contain;
    }

    &--diet::after {
      left: 28px;
      top: 28px;
      background-image: url(../../images/cat.svg);
    }

    &--mass::after {
      left: 11px;
      top: 40px;
      width: 67px;
      height: 28px;
      background-image: url(../../images/pantera.svg);
    }
  }
}
