.navigation {
  font-family: $oswald;
  font-size: 20px;
  text-transform: uppercase;
  @include container();

  @media ($mobile-only) {
    background-color: #ffffff;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  @media ($min-desktop) {
    display: flex;
    justify-content: space-between;
  }

  // &__burger {
  //   display: flex;
  //   position: relative;
  //   z-index: 50;
  //   align-items: center;
  //   justify-content: flex-end;
  //   width: 30px;
  //   height: 18px;

  //   &::after,
  //   &::before {
  //     content: "";
  //     position: absolute;
  //     height: 2px;
  //     width: 100%;
  //     background-color: #000000;
  //     transition: all 0.3s ease 0%;
  //     display: block;
  //   }

  //   &::after {
  //     bottom: 0;
  //   }

  //   &::before {
  //     top: 0;
  //   }

  //   span {
  //     height: 2px;
  //     width: 80%;
  //     transform: scale(1);
  //     background-color: #000000;
  //   }
  // }

  &__list {
    @include list-reset();
    display: flex;

    @media ($mobile-only) {
      display: none;
      flex-direction: column;
      background-color: #ffffff;
      position: absolute;
      top: 60px;
      left: 0;
      z-index: 99;
      width: 100%;

      &--opened {
        display: block;
      }
    }

    @media ($min-tablet) {
      gap: 33px;
    }
  }

  &__item {
    @media ($mobile-only) {
      border-top: 1px solid #e6e6e6;
      text-align: center;
      padding: 20px;

      &:last-child {
        border-bottom: 1px solid #e6e6e6;
      }
    }
    &--current {
      position: relative;

      &::after {
        @media ($min-tablet) {
          @include pseudo(100%, 2px, #ffffff);
          bottom: -12px;
        }
      }
    }
  }

  &__link {
    color: #ffffff;
    text-decoration: none;
    font-family: $oswald;

    @media ($mobile-only) {
      color: #000000;
    }
  }
}
