.navigation {
  font-family: $oswald;
  font-size: 20px;
  text-transform: uppercase;
  align-items: center;
  @include container();

  @media ($mobile-only) {
    background-color: #ffffff;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  @media ($min-tablet) {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    @include list-reset();
    display: flex;

    @media ($mobile-only) {
      display: none;
      flex-direction: column;
      background-color: #ffffff;
      position: absolute;
      top: 60px;
      left: 0;
      z-index: 99;
      width: 100%;

      &--opened {
        display: block;
      }
    }

    @media ($min-tablet) {
      gap: 33px;
    }
  }

  &__item {
    @media ($mobile-only) {
      border-top: 1px solid #e6e6e6;
      text-align: center;
      padding: 20px;

      &:last-child {
        border-bottom: 1px solid #e6e6e6;
      }
    }
    &--current {
      position: relative;

      &::after {
        @media ($min-tablet) {
          @include pseudo(100%, 2px, #68b738);
          bottom: -12px;
        }
        @media ($min-desktop) {
          background-color: #ffffff;
        }
      }
    }
  }

  &__link {
    color: #ffffff;
    text-decoration: none;
    font-family: $oswald;
    color: #000000;
    font-size: 20px;
    line-height: 1;

    @media ($min-tablet) {
      font-size: 18px;
      line-height: 24px;
    }

    @media ($min-desktop) {
      color: #ffffff;
    }
  }
}
